
-
  var header = '#recent clients'
  var clientList = [
    "/asset/image/client/ambu.jpeg",
    "/asset/image/client/british-airways.png",
    "/asset/image/client/rule-one.png",
    "/asset/image/client/westfield.png",
  ];

#client
.client
  .client__header=header
  .client__list
    each client in clientList
      .client__image