extends _component/layout/page
block cool-config
  -
    var myTitleForGoogleSearch = 'My awesome CV';
    var myDescriptionForGoogleSearch = 'This is made using HTML5 and CSS3 techniques';
block nice-content
  include _component/landing-page/landing-page
  